td {
	vertical-align: top;
    font-family: Helvetica; sans-serif;
	font-size: 12px;
}

h1 {
    text-align: center;
}

li {
    padding-top: 3px;
    padding-bottom: 3px;
}

a {
    text-decoration: none;
}

a.comments {
    font-size: 8px;
}

li.image:before { content: "[pic] "; }

img { max-width: 400px; max-height: 400px; }
